<!DOCTYPE HTML>
<html>
<head>
<meta charset="UTF-8">
<title>myEyebrow</title>
<link rel="stylesheet" href="stylesheets/indexcss.css" type="text/css">
</head>
<style>
@font-face {
	font-family: 'Arimo-Bold';
	src: url('../fonts/Arimo-Bold/Arimo-Bold.eot');
	src: url('../fonts/Arimo-Bold/Arimo-Bold.woff') format('woff'),
		url('../fonts/Arimo-Bold/Arimo-Bold.ttf') format('truetype'),
		url('../fonts/Arimo-Bold/Arimo-Bold.svg') format('svg');
}

@font-face {
	font-family: 'ChangaOne';
	src: url('../fonts/ChangaOne/ChangaOne-Regular.eot');
	src: url('../fonts/ChangaOne/ChangaOne-Regular.woff') format('woff'),
		url('../fonts/ChangaOne/ChangaOne-Regular.ttf') format('truetype'),
		url('../fonts/ChangaOne/ChangaOne-Regular.svg') format('svg');
}

@font-face {
	font-family: 'Comfortaa-Regular';
	src: url('../fonts/Comfortaa/Comfortaa-Regular.eot');
	src: url('../fonts/Comfortaa/Comfortaa-Regular.woff') format('woff'),
		url('../fonts/Comfortaa/Comfortaa-Regular.ttf') format('truetype'),
		url('../fonts/Comfortaa/Comfortaa-Regular.svg') format('svg');
}

@font-face {
	font-family: 'Opulence-JF';
	src: url('../fonts/Opulence-JF/Opulence-JF.eot');
	src: url('../fonts/Opulence-JF/Opulence-JF.ttf') format('truetype');
}

body {
	background: url(../images/bg-header.gif) repeat-x top center,
		url(../images/mytitle60.jpg) no-repeat top center;
	background-color: #f5f2f1;
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0 auto;
	padding: 0;
	width: 100%;
}

#header {
	margin: 0;
	padding: 0;
	height: 120px;
}

#header .title1 {
	float: left;
	display: block;
	font-family: 'Opulence-JF';
	font-size: 100px;
	font-weight: normal;
	height: 120px;
	line-height: 120px;
	width: 400px;
	color: black;
	padding: 0 0 0 150px;
}

#header .title1 a {
	color: black;
	text-align: center;
	text-decoration: none;
}

#header .title2 {
	float: left;
	padding: 85px 0 0 230px;
	opacity: 0.5;
	font-family: 'ChangeOne';
	font-size: 25px;
	margin: 0;
	color: white;
	width: 324px;
}

#body {
	margin: 0 auto;
	padding: 0;
	width: 1160px;
}

#body .left {
	float: left;
	margin: 0;
	padding: 0;
	width: 240px;
	height: 400px;
}

#body .left .leftbuttonhome {
	text-transform: uppercase;
	font-size: 20px;
	opacity: 0.7;
	width: 150px;
	height: 30px;
	background-color: black;
	color: white;
	margin: 50px 0 0 80px;
	border-radius: 2px;
	text-align: center;
	line-height: 30px;
	opacity: 0.7;
	font-size: 20px;
}

#body .left .leftbuttonhome:hover {
	box-shadow: 0px 0px 15px 20px black;
}

#body .left .leftbutton {
	text-transform: uppercase;
	font-size: 20px;
	opacity: 0.7;
	width: 150px;
	height: 30px;
	color: white;
	background-color: #658e95;
	margin: 30px 0 0 80px;
	border-radius: 2px;
	text-align: center;
	line-height: 30px;
	font-size: 20px;
}

#body .left .leftbutton:hover {
	box-shadow: 0px 0px 10px 15px #658e95;
}

#body .right {
	float: left;
	margin: 0;
	padding: 0;
	width: 920px;
	height: 600px;
	float: left;
}

#body .right #rightcontainer {
	margin: 40px auto;
	width: 800px;
	height: 300px;
	box-shadow: 0px 0px 7px #658e95 inset;
	padding: 0;
	border-top: 2px solid #658e95;
	border-bottom: 2px solid #658e95;
}

#body .right  #rightcontainer #title {
	margin: 10px auto;
	width: 750px;
	height: 40px;
	text-align: center;
	border-bottom: 2px solid #658e95;
	font-size: 30px;
	color: #658e95;
}
#body .right  #rightcontainer p {
	margin: 10px auto;
	width: 750px;
	height: 200px;
	text-align: center;

	font-size: 30px;
	color: #658e95;
}

#foot {
	float: left;
	margin: 0;
	width: 100%;
	height: 180px;
	background-color: #658e95;
}

#foot #contactinfo {
	opacity: 0.5;
	float: right;
	margin: 0 50px 0 0;
	width: 300px;
	height: 80px;
	padding: 100px 0 0 0;
}

#foot #contactinfo p {
	margin: 0;
	width: 300px;
	height: 20px;
	color: white;
}
</style>
<body>
	<div id="header">
		<div class="title1">
			<a>My.Eyebrow</a>
		</div>
		<div class="title2">
			<a>新加坡SCK悦研国际美妆</a>
		</div>
	</div>


	<div id="body">
		<div class="left">
			<div class="leftbuttonhome" id="hometag">Home</div>
			<div class="leftbutton">About</div>
			<div class="leftbutton">Promotion</div>
			<div class="leftbutton">纹绣师简历</div>
			<div class="leftbutton">Contact</div>
		</div>
		<div class="right">
			<div id="rightcontainer">
				<div id="title">关于我们</div>
				<p>哈哈哈哈哈 我也不知道该写点儿什么</p>
			</div>

		</div>


	</div>
	<div id="foot">
		<div id="contactinfo">
			<p>电话热线:11111111111</p>
			<p>地址:新加坡某个地方</p>
		</div>

	</div>

</body>

<script>
	document.getElementById('hometag').addEventListener('click', function() {
		window.location.assign('/');
	});
</script>


</html>