<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style>
img {
	width: 750px;
	height: 350px;
	border: 1px solid;
}

.oneitem {
	width: 1000px;
	height: 350px;
	border: solid;
}
</style>
<script src="http://cdn.static.runoob.com/libs/jquery/1.10.2/jquery.min.js"></script>
</head>

<body>

	<p>欢迎来到这个简陋的后台</p>
	<button id="houtaizhuye">后台主页</button>
	<h1>查看所有列表</h1>
	<br>
	<button id="showxiangmubutton">查看经营项目</button>
	<button id="showkechengbutton">查看学员课程</button>
	<button id="showchanpinbutton">查看产品介绍</button>
	<br>
	<div id=showitems></div>

</body>

<script>

$.ajaxSetup({  
    async : false  
}); 
	document.getElementById('houtaizhuye').addEventListener('click',
			function() {
				window.location.assign('/ygbhyrcdzgurl');

			});

	
	document.getElementById('showxiangmubutton').addEventListener('click',
			function() {
				showlists("xiangmu");
			});
	document.getElementById('showkechengbutton').addEventListener('click',
			function() {
				showlists("kecheng");
			});
	document.getElementById('showchanpinbutton').addEventListener('click',
			function() {
				showlists("chanpin");
			});
	var httpresponse;
	function showlists(thislistname) {
		$.post('/getallliebiaobycategory', {
			category : thislistname
		}, function(res) {
			alert("一共检索到后台" + res.liebiao.length + ",请耐心等待加载结束");
			httpresponse = res;
			var innerContext = "";
			var imagestring = "";
			for (i = 0; i < res.liebiao.length; i++) {
				innerContext = innerContext + "<div class=\"oneitem\">";
				innerContext = innerContext + "<button id='button";
				innerContext = innerContext + i;
				innerContext = innerContext +"'>点击这里删除本条</button>";
				innerContext = innerContext + "<br>"
				innerContext = innerContext + "分类:";
				innerContext = innerContext + res.liebiao[i].oneitem.category;
				innerContext = innerContext + "<br>";
				innerContext = innerContext + "权重:";
				innerContext = innerContext + res.liebiao[i].oneitem.weight;
				innerContext = innerContext + "<br>";
				innerContext = innerContext + "标题:";
				innerContext = innerContext + res.liebiao[i].oneitem.title;
				innerContext = innerContext + "<br>";
				innerContext = innerContext + "描述:";
				innerContext = innerContext
						+ res.liebiao[i].oneitem.description;
				innerContext = innerContext + "<br>";
				innerContext = innerContext + "图片id:";
				innerContext = innerContext + res.liebiao[i].oneitem.imageid;
				innerContext = innerContext + "<br>";
				innerContext = innerContext + "</div>";
			}
			document.getElementById('showitems').innerHTML = innerContext;
		});
		for (i = 0; i < httpresponse.liebiao.length; i++) {
			setliebiaodeletebutton(i);
		}
	}
	function setliebiaodeletebutton(i){
		var buttonname="button";
		buttonname=buttonname+i;
		document.getElementById(buttonname).addEventListener('click',
			function() {
				alert("本条被删除列表id为:"+httpresponse.liebiao[i]._id);
				$.post('/deleteliebiaobyid', {oneitemid:httpresponse.liebiao[i]._id }, function(res) {
					alert(res.status);
				});
			});

	}
</script>

</html>