<html>
<head>

<style>
</style>
<script src="http://cdn.static.runoob.com/libs/jquery/1.10.2/jquery.min.js"></script>
</head>

<body>

	<p>欢迎来到这个简陋的后台</p>
	<button id="houtaizhuye">后台主页</button>
	<br>
	<button id="turntouploadimage">去添加照片页面</button>
	<button id="turntocheckimage">去查看所有照片页面</button>
	<br>
	<button id="turntouploadxiangmu">去添加项目页面</button>
	<button id="turntocheckliebiao">去查看所有项目页面</button>
	<br>
	<br>
	<br>
	<button id="renewindexpage">点此重置主页内容到最新</button>
</body>

<script>
<!-- submit image here -->
	document.getElementById('houtaizhuye').addEventListener('click',
			function() {
				window.location.assign('/ygbhyrcdzgurl')

			});
	document.getElementById('turntouploadimage').addEventListener('click',
			function() {
				window.location.assign('/ygbhyrcdzgurluploadimage')

			});
	document.getElementById('turntocheckimage').addEventListener('click',
			function() {
				window.location.assign('/ygbhyrcdzgurlcheckimage')
			});
	document.getElementById('turntouploadxiangmu').addEventListener('click',
			function() {
				window.location.assign('/ygbhyrcdzgurluploadxiangmu')
			});
	document.getElementById('turntocheckliebiao').addEventListener('click',
			function() {
				window.location.assign('/ygbhyrcdzgurlcheckliebiao')
			});
	document.getElementById('renewindexpage').addEventListener('click',
			function() {
				$.post('/renewindexpage', {}, function(res) {
					alert(res.status);
				});
			});
</script>

</html>
