<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style>
</style>
<script src="http://cdn.static.runoob.com/libs/jquery/1.10.2/jquery.min.js"></script>
</head>

<body>

	<p>欢迎来到这个简陋的后台</p>
	<button id="houtaizhuye">后台主页</button>
	<button id="turntouploadimage">去添加照片页面</button>
	<button id="turntocheckimage">去查看所有照片页面</button>

</body>

<script>
<!-- submit image here -->
	document.getElementById('houtaizhuye').addEventListener('click',
			function() {
				window.location.assign('/ygbhyrcdzgurl')

			});
	document.getElementById('turntouploadimage').addEventListener('click',
			function() {
				window.location.assign('/ygbhyrcdzgurluploadimage')

			});
	document.getElementById('turntocheckimage').addEventListener('click',
			function() {
				window.location.assign('/ygbhyrcdzgurlcheckimage')
			});
</script>

</html>