<!DOCTYPE HTML>
<html>
<head>
<meta charset="UTF-8">
<title>myEyebrow</title>
<link rel="stylesheet" href="stylesheets/indexcss.css" type="text/css">
</head>
<style>
@font-face {
	font-family: 'Opulence-JF';
	src: url('../fonts/Opulence-JF/Opulence-JF.eot');
	src: url('../fonts/Opulence-JF/Opulence-JF.ttf') format('truetype');
}

body {
	background: url(../images/mytitle60.jpg) no-repeat top center;
	background-color: #f5f2f1;
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
}


#header {
	margin: 80px auto;
	padding: 0;
	height: 140px;
	width: 1160px;
}

#header .title1 {
	float: left;
	font-family: 'Opulence-JF';
	font-size: 100px;
	font-weight: normal;
	height: 120px;
	line-height: 120px;
	width: 400px;
	color: black;
	padding: 0 0 0 150px;
}

#header .title1 a {
	color: black;
	text-align: center;
	text-decoration: none;
	text-align: center;
}

#header .title2 {
	float: left;
	padding: 85px 0 0 30px;
	opacity: 0.5;
	font-family: 'ChangeOne';
	font-size: 25px;
	margin: 0;
	color: black;
	width: 324px;
}

#body {
	margin: 0 auto;
	padding: 0;
	width: 1160px;
}

#body .left {
	float: left;
	margin: 0;
	padding: 0;
	width: 140px;
	height: 400px;
}

#body .left .leftbuttonhome {
	text-transform: uppercase;
	font-size: 15px;
	opacity: 0.7;
	width: 110px;
	height: 30px;
	background-color: black;
	color: white;
	margin: 50px 0 0 20px;
	border-radius: 2px;
	text-align: center;
	line-height: 30px;
	opacity: 0.7;
}

#body .left .leftbuttonhome:hover {
	box-shadow: 0px 0px 15px 20px black;
}

#body .left .leftbutton {
	text-transform: uppercase;
	font-size: 15px;
	opacity: 0.7;
	width: 110px;
	height: 30px;
	color: white;
	background-color: #658e95;
	margin: 30px 0 0 20px;
	border-radius: 2px;
	text-align: center;
	line-height: 30px;
}

#body .left .leftbutton:hover {
	box-shadow: 0px 0px 10px 15px #658e95;
}

#body .right {
	float: left;
	margin: 0;
	padding: 0;
	width: 990px;
	height: 400px;
}

#body .right .imagecontainer {
	margin: 20px auto 0;
	height: 350px;
	width: 960px;
}

#body .right .imagecontainer .wrap {
	opacity: 0.9;
	height: 350px;
	width: 960px;
	overflow: hidden;
}

#body .right .imagecontainer #wrap-list {
	width: 9600px;
	transform: translate3d(0, 0, 0);
	transition-delay: .3s;
	transition: ease;
}

#body .right .imagecontainer #wrap-list .showcase {
	background: url(../images/frame.png) no-repeat top center;
	float: left;
	width: 220px;
	height: 350px;
	padding: 5px 10px 29px;
}

#body .right .imagecontainer #wrap-list .showcase img {
	float: left;
	width: 210px;
	height: 170px;
	width: 210px;
	margin: 0 0 0 5px;
}

#body .right .imagecontainer #wrap-list .showcase a {
	float: left;
	font-size: 18px;
	text-align: center;
	margin: 30px auto 0;
	width: 220px;
	height: 30px;
}

#body .right .imagecontainer #wrap-list .showcase p {
	float: left;
	font-size: 12px;
	text-align: center;
	margin: 10px 20px 0;
	width: 180px;
	height: 100px;
	line-height: 20px;
}

#body .right #leftbutton {
	position: absolute;
	margin: 150px 0 0 0;
}

#body .right #leftbutton:hover {
	box-shadow: 0px 0px 10px 15px #658e95;
	background-color: #658e95;
}

#body .right #rightbutton {
	position: absolute;
	margin: 150px 0 0 980px;
}

#body .right  #rightbutton:hover {
	box-shadow: 0px 0px 10px 15px #658e95;
	background-color: #658e95;
}

#body #rightunder {
	margin: 0 auto 20px;
	padding: 10px 0 0 0;
	width: 1060px;
	height: 740px;
	border-top: 2px solid #658e95;
	border-bottom: 2px solid #658e95;
	box-shadow: 0 0 7px 0px #658e95 inset;
	overflow: hidden;
	transform: translate3d(0, 0, 0);
	transition-delay: .3s;
	transition: ease;
}

#body #rightunder .chooseboardcontainer {
	margin: 10px 0 0 55px;
	padding: 0;
	width: 960px;
	height: 230px;
	box-shadow: 0 0 7px #658e95;
	float: left;
}

#body #rightunder .chooseboard {
	margin: 7px;
	float: left;
	width: 946px;
	height: 216px;
	padding: 0;
}

#body #rightunder .chooseboard p {
	height: 196px;
	width: 40px;
	margin: 0;
	padding: 20px 0 0 0;
	font-size: 28px;
	background-color: #658e95;
	text-align: center;
	color: white;
	float:left;
}

#body #rightunder .chooseboard p:hover {
	box-shadow: 0 0 7px #658e95;
}
#body #rightunder .chooseboard .itemboard {
	height: 216px;
	width: 858px;
	margin: 0 0 0 7px;
	font-size: 28px;
	text-align: center;
	color: white;
	float:left;
}
#body #rightunder .chooseboard .itemboard .oneitem {
	height: 216px;
	width: 279px;
	margin: 0 7px 0 0;
	padding: 0;
	font-size: 28px;
	background-color:#658e95 ;
	text-align: center;
	color: white;
	float:left;
}
#body #rightunder .chooseboard .itemboard .oneitem .imageplace{
	height:210px;
	width:273px;
	margin:3px;
	background-color:white;
	position: absolute;
	
}
#body #rightunder .chooseboard .itemboard .oneitem .imageplace img{
	width:267px;
	height:204px;
	margin:3px;
}
#body #rightunder .chooseboard .itemboard .oneitem .showtitle{
	position: absolute;
	width:267px;
	height:25px;
	margin:130px 6px 0 6px;
	font-size:18px;
	color:white;
	padding:0 0 0 0;
	text-align:center;
	background-color:#658e95;
	opacity:0.9;
}
#body #rightunder .chooseboard .itemboard .oneitem .showdescription{
	position: absolute;
	width:267px;
	height:55px;
	margin:155px 6px 0 6px;
	font-size:13px;
	color:white;
	padding:0 0 0 0;
	text-align:center;
	background-color:#999999;
	opacity:0.9;
	overflow: hidden;
	
}


#foot {
	margin: 0 auto;
	width: 1300px;
	height: 180px;
	background-color: #658e95;
}

#foot #contactinfo {
	opacity: 0.5;
	float: right;
	margin: 100px 80px 0 0;
	width: 200px;
	height: 80px;
	padding: 0;
}

#foot #contactinfo p {

	width: 200px;
	height: 20px;
	color: white;
}
</style>
<script src="http://cdn.static.runoob.com/libs/jquery/1.10.2/jquery.min.js"></script>
<body>

	<div id="header">
		<div class="title1">
			<a>My.Eyebrow</a>
		</div>
		<div class="title2">
			<a>新加坡SCK悦研国际美妆</a>
		</div>
	</div>


	<div id="body">
		<div class="left">
			<div class="leftbuttonhome" id="hometag">Home</div>
			<div class="leftbutton" id="abouttag">About</div>
			<div class="leftbutton">Promo</div>
			<div class="leftbutton">纹绣师简历</div>
			<div class="leftbutton">Contact</div>
		</div>
		<div class="right">
			<div id="leftbutton">
				<canvas id="leftCanvas" width="10" height="40"></canvas>
			</div>
			<div id="rightbutton">
				<canvas id="rightCanvas" width="10" height="40"></canvas>
			</div>
			<div class="imagecontainer">
				<div class="wrap">
					<div id="wrap-list">
						<div class="showcase">
							<img src='/images/lunbo/showcase1.jpg' alt="eyebrowhomwpage1"> <a>我觉得现实效果还行啊</a>
							<p>TT 我真觉得挺好看的啊 我做好了 问问老板意见吧 那个比这个简单很多 改回去好改 不过我已经聪明了 我现在每做一版我就存一份哈哈哈哈</p>
						</div>
						<div class="showcase">
							<img src='/images/lunbo/showcase2.jpg' alt="eyebrowhomwpage1"> <a>我觉得现实效果还行啊</a>
							<p>TT 我真觉得挺好看的啊 我做好了 问问老板意见吧 那个比这个简单很多 改回去好改 不过我已经聪明了 我现在每做一版我就存一份哈哈哈哈</p>

						</div>
						<div class="showcase">
							<img src='/images/lunbo/showcase3.jpg' alt="eyebrowhomwpage1"> <a>我觉得现实效果还行啊</a>
							<p>TT 我真觉得挺好看的啊 我做好了 问问老板意见吧 那个比这个简单很多 改回去好改 不过我已经聪明了 我现在每做一版我就存一份哈哈哈哈</p>

						</div>
						<div class="showcase">
							<img src='/images/lunbo/showcase4.jpg' alt="eyebrowhomwpage1"> <a>我觉得现实效果还行啊</a>
							<p>TT 我真觉得挺好看的啊 我做好了 问问老板意见吧 那个比这个简单很多 改回去好改 不过我已经聪明了 我现在每做一版我就存一份哈哈哈哈</p>

						</div>
						<div class="showcase">
							<img src='/images/lunbo/showcase1.jpg' alt="eyebrowhomwpage1"> <a>我觉得现实效果还行啊</a>
							<p>TT 我真觉得挺好看的啊 我做好了 问问老板意见吧 那个比这个简单很多 改回去好改 不过我已经聪明了 我现在每做一版我就存一份哈哈哈哈</p>

						</div>
						<div class="showcase">
							<img src='/images/lunbo/showcase2.jpg' alt="eyebrowhomwpage1"> <a>我觉得现实效果还行啊</a>
							<p>TT 我真觉得挺好看的啊 我做好了 问问老板意见吧 那个比这个简单很多 改回去好改 不过我已经聪明了 我现在每做一版我就存一份哈哈哈哈</p>

						</div>
						<div class="showcase">
							<img src='/images/lunbo/showcase3.jpg' alt="eyebrowhomwpage1"> <a>我觉得现实效果还行啊</a>
							<p>TT 我真觉得挺好看的啊 我做好了 问问老板意见吧 那个比这个简单很多 改回去好改 不过我已经聪明了 我现在每做一版我就存一份哈哈哈哈</p>

						</div>
						<div class="showcase">
							<img src='/images/lunbo/showcase4.jpg' alt="eyebrowhomwpage1"> <a>我觉得现实效果还行啊</a>
							<p>TT 我真觉得挺好看的啊 我做好了 问问老板意见吧 那个比这个简单很多 改回去好改 不过我已经聪明了 我现在每做一版我就存一份哈哈哈哈</p>

						</div>
					</div>
				</div>
			</div>

		</div>
		<div id="rightunder">
			<div class="chooseboardcontainer">
				<div class="chooseboard">
					<p id= "turntoxiangmupage">经营项目</p>
					<div class="itemboard" id="xiangmu"></div>				
						<p><br><br>+</p>
					
				</div>
				
			</div>
			<div class="chooseboardcontainer">
				<div class="chooseboard">
					<p id= "turntokechengpage">学员课程</p>
					<div class="itemboard" id="kecheng"></div>				
						<p><br><br>+</p>
				</div>
			</div>
			<div class="chooseboardcontainer">
				<div class="chooseboard">
					<p id= "turntozuopinpage">作品展示</p>
					<div class="itemboard" id="zuopin"></div>				
						<p><br><br>+</p>
				</div>
			</div>
		</div>
	</div>
	<div id="foot">
		<div id="contactinfo">
			<p>电话热线:11111111111</p>
			<p>地址:新加坡某个地方</p>
		</div>
	</div>
</body>

<script>

$.ajaxSetup({  
    async : false  
}); 


<!-- make function of lunbo -->
	var index = 0;
	var width = 240;
	document.getElementById('leftbutton').addEventListener('click', function() {
		index = index - 1;
		if (index < 0) {
			index = 0;
		}
		dotransition();
	});
	document.getElementById('rightbutton').addEventListener('click',
			function() {
				index = index + 1;
				if (index > 4) {
					index = 4;
				}
				dotransition();
			});

	function dotransition() {
		document.getElementById('wrap-list').style.cssText = "transform: translate3d(-"
				+ index
				* width
				+ "px, 0, 0);	transition-delay: .3s;transition: ease; transition-duration:0.5s;";

	}
	
	
<!-- fill items -->

	var httpresponse;
	var times;
	showlists("xiangmu");
	showlists("kecheng");
	showlists("zuopin");
	
	function showlists(thislistname) {
		$.post('/getallliebiaobycategory', {
			category : thislistname
		}, function(res) {
			httpresponse = res;
			var innerContext = "";
			var imagestring = "";
			if (res.liebiao.length<3){
				times=res.liebiao.length;
			}else{
				times=3;
			}
			for (var i = 0; i < times; i++) {	
				innerContext= innerContext+ "<div class='oneitem'>";
				innerContext= innerContext+ "<div class='imageplace' id='image";
				innerContext= innerContext+thislistname;
				innerContext= innerContext+i;
				innerContext= innerContext+"'>";
				innerContext= innerContext+ "</div>";
				innerContext= innerContext+ "<div class='showtitle'>";		
				innerContext= innerContext+ res.liebiao[i].oneitem.title;		
				innerContext= innerContext+ "</div>";
				innerContext= innerContext+ "<div class='showdescription'>";		
				innerContext= innerContext+ res.liebiao[i].oneitem.description;		
				innerContext= innerContext+ "</div>";
				innerContext= innerContext+ "</div>";			
			}
			document.getElementById(thislistname).innerHTML = innerContext;
		});
		for (i = 0; i < times; i++) {
			setimage(i,thislistname,httpresponse.liebiao[i].oneitem.imageid);
		}
	}
	
	
	function setimage(i,thislistname,imageid){

		$.ajax({
			url : '/getimagebyid',
			type : 'POST',
			data : {imageid:imageid},
			async : true,
			success : function(res) {
				if(res.image!=null){
					var innerContext="";
					var imagestring ='data:image/png;base64,'+ res.image;
					var idname="image";
					idname=idname+thislistname+i;
					innerContext=innerContext+ "<img class='imageview' src=";
					innerContext=innerContext+ imagestring;
					innerContext=innerContext+ " />";
					document.getElementById(idname).innerHTML = innerContext;
				}
			}
		});
	}
	
	
<!-- draw two arrays -->
	function drawLeft() {
		var c = document.getElementById("leftCanvas"), cxt = c.getContext("2d");
		cxt.beginPath();
		cxt.moveTo(8, 2);
		cxt.lineTo(2, 20);
		cxt.lineTo(8, 38);
		cxt.lineWidth = 4;
		cxt.strokeStyle = "black";
		cxt.lineCap = 'round';
		cxt.lineJoin = "round";
		cxt.stroke();
	}
	drawLeft();

	function drawRight() {
		var c = document.getElementById("rightCanvas"), cxt = c
				.getContext("2d");
		cxt.beginPath();
		cxt.moveTo(2, 2);
		cxt.lineTo(8, 20);
		cxt.lineTo(2, 38);
		cxt.lineWidth = 4;
		cxt.strokeStyle = "black";
		cxt.lineCap = 'round';
		cxt.lineJoin = "round";
		cxt.stroke();

	}
	drawRight();

	
<!-- links -->
	document.getElementById('turntoxiangmupage').addEventListener('click', function() {
		window.location.assign('/xiangmupage');
	});
	document.getElementById('hometag').addEventListener('click', function() {
		window.location.assign('/');
	});
	document.getElementById('abouttag').addEventListener('click', function() {
		window.location.assign('/aboutpage');
	});
</script>
</html>